<div class="container">
    <section class="addNew">
        <div class="left">
            <h3>Customers</h3>
            <p>Create, edit, and manage your customers.</p>
        </div>
        <div class="right">
            <button class="btn btn-primary"><i class="bi bi-person-plus"></i>&nbsp;&nbsp;Add new customer &nbsp;&nbsp;<i class="bi bi-chevron-down"></i></button>
        </div>

    </section>
    <section class="statistics">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="toprow">
                        <p>Inactice & Dormant</p>
                        <p><i class="bi bi-info-circle-fill"></i></p>
                    </div>
                    <h2>1300</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cards">
                    <div class="row">
                        <div class="col card">

                            <div class="toprow">
                                <p>Inactice & Dormant</p>
                                <p><i class="bi bi-info-circle-fill"></i></p>
                            </div>
                            <h2>1300</h2>

                        </div>
                        <div class="col card">

                            <div class="toprow">
                                <p>Inactice & Dormant</p>
                                <p><i class="bi bi-info-circle-fill"></i></p>
                            </div>
                            <h2>1300</h2>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="toprow">
                        <p>Inactice & Dormant</p>
                        <p><i class="bi bi-info-circle-fill"></i></p>
                    </div>
                    <h2>1300</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="tableData">
        <div class="tableOptions">
            <div class="isearchbox">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </div>
            
            <div class="otherOptions">
                <button class="btn btn-light"><i class="bi bi-sliders2-vertical"></i>&nbsp;&nbsp;&nbsp;Filter</button>
                <button class="btn btn-light"><i class="bi bi-gear"></i>&nbsp;&nbsp;&nbsp;Edit columns</button>
                <button class="btn btn-light"><i class="bi bi-cloud-download"></i>&nbsp;&nbsp;&nbsp;Export.csv</button>

            </div>
        </div>
        <table class="table">
            
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th>status</th>
                    <th>Joined at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let customer of customers">
                    <tr>
                        <th scope="row"><input type="checkbox" name="" id=""></th>
                        <td>{{customer.first_name}} {{customer.last_name}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.telephone}}</td>
                        <td>{{customer.status}}</td>
                        <td>{{customer.created_at}}</td>
                        <td><i class="bi bi-three-dots-vertical"></i></td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" (click)="paginate(1)">1</a></li>
              <li class="page-item"><a class="page-link" (click)="paginate(2)">2</a></li>
              <li class="page-item"><a class="page-link" (click)="paginate(3)">3</a></li>
              <li class="page-item"><a class="page-link" (click)="paginate(4)">4</a></li>
            </ul>
          </nav>
    </section>
</div>